@using global::Cuddler.Utils
@model AppNotifications
@{
    //https://docs.telerik.com/kendo-ui/controls/layout/notification/overview
    var podId = WebIdUtil.GetWebId();
}
<div class="eux-AppNotifications">
    <div id="@podId"></div>
    <script type="text/javascript">
    $(function() {
        $(document).ajaxError(function(event, xhr) {
            if (parseInt(xhr.status >= 500)){
                notifyError("Server responded with an error");
            }            
        });

        $("#@podId").kendoNotification({
            position: { pinned: true, bottom: 20, right: 20 },
            hideOnClick: false,
            button: true,
            allowHideAfter: 1000,
            autoHideAfter: 6500,
            stacking: "up"
        }).data("kendoNotification");
    });

    function notifySuccess(message) {
        const notificationWidget = $("#@podId").data("kendoNotification");
        notificationWidget.show(message, "success");
    }

    function notifyError(message) {
        const notificationWidget = $("#@podId").data("kendoNotification");
        notificationWidget.show(message, "error");
    }

    function notifyWarning(message) {
        const notificationWidget = $("#@podId").data("kendoNotification");
        notificationWidget.show(message, "warning");
    }

    function notifyInfo(message) {
        const notificationWidget = $("#@podId").data("kendoNotification");
        notificationWidget.show(message, "info");
    }
</script>
</div>