.eux-Backarrow { align-items: center; display: flex; }
.eux-Backarrow a.eux-BackArrowWidget-pod { align-content: center; align-items: center; color: inherit; display: inline-flex; font-size: 12px; font-weight: normal; line-height: 22px; padding: 3px 8px; text-decoration: none; }
.eux-Backarrow a.eux-BackArrowWidget-pod i { margin-right: 5px; }