.eux-bg-Danger { background: #dc3545; }
.eux-bg-Dark { background: black; }
.eux-bg-LightGray { background: #EBEBEB; }
.eux-bg-Primary { background: #D1ECF1; }
.eux-bg-Secondary { background: #6c757d; }
.eux-bg-Transparent { background: transparent; }
.eux-bg-Warning { background: #f4d89a; }