.eux-groupmaps-pod h1 { font-size: 22px; margin-bottom: 20px; }
.eux-groupmaps-pod h3 { font-size: 14px; font-style: italic; margin-bottom: 10px; }
.eux-groupmaps-pod h2 { font-size: 18px; }
.eux-groupmaps-pod ul li { margin-bottom: 0.5em; }