.eux-AppHeader { align-content: center; display: grid; width: 100%; }
.eux-portal .eux-AppHeader { background: var(--AppHeader); border-bottom: solid 1px rgba(0, 0, 0, 0.2); }
.eux-AppHeader .eux-pod .eux-menuPageTitle { align-items: center; color: var(--ColorSix); display: grid; grid-template-columns: auto auto 1fr; height: 46px; padding: 0 15px; }
.eux-AppHeader .eux-pod .eux-menuPageTitle.eux-menuBreadcrumbs { grid-template-columns: 1fr; }
.eux-AppHeader .eux-pod .eux-menuPageTitle-text + i { font-size: 14px; padding-top: 4px; }
.eux-AppHeader .eux-pod .eux-menuPageTitle-text { align-items: center; display: flex; }
.eux-AppHeader .eux-pod .eux-menuPageTitle-text .eux-Iconbutton { margin-right: 10px; }
.eux-AppHeader .eux-pod .eux-menuPageTitle .eux-PopupButtonWidget { font-size: 1.7em; position: absolute; top: -3px; }
.eux-AppHeader .eux-pod .eux-menuPageTitle > div { font-size: 20px; line-height: 20px; position: relative; }
.eux-AppHeader .eux-pod .eux-menuPageTitle.eux-notabs { padding-bottom: 15px; }
.eux-AppHeader .eux-pod .eux-menuPageTitle .btn { border-radius: 5px; font-size: 13px; padding: 16px 10px; text-transform: uppercase; }
.eux-AppHeader .eux-menubars { width: 35px; }
.eux-AppHeader .eux-topbar { align-items: center; padding-right: 20px; }
.eux-AppHeader .eux-topbar .btn { font-size: 13px; line-height: 15px; }
.eux-mobile .eux-AppHeader .eux-pod .eux-menuPageTitle { margin-bottom: 15px; }