.eux-CuddlerPageHeading .eux-CuddlerPageHeading-wrapper { align-items: center; }
.eux-CuddlerPageHeading .eux-CuddlerPageHeading-wrapper > div:first-child { min-height: 70px; }
.eux-CuddlerPageHeading .eux-CuddlerPageHeading-wrapper > div { display: grid; height: 100%; margin: 5px auto 0 auto; max-width: 1400px; width: 100%; }
.eux-CuddlerPageHeading.eux-CuddlerPageHeading-hasBottomBorder .eux-CuddlerPageHeading-wrapper .eux-Heading2 { border-bottom: solid 1px #bcbcbc; }
.eux-CuddlerPageHeading.eux-CuddlerPageHeading-hasBottomBorder .eux-CuddlerPageHeading-wrapper .eux-CuddlerHeading { border-bottom: solid 1px #bcbcbc; }
.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Success { background: aquamarine; }
.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Success + .eux-PageContent { background: aquamarine; }
.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Warning { background: #EFC210; }
.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Warning + .eux-PageContent { background: #EFC210; }
.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Danger { background: rosybrown; }
.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Danger + .eux-PageContent { background: rosybrown; }