@model CuddlerDev.Pages.Shared.Cuddler.Image.ImageTagHelper

@{
    if (string.IsNullOrEmpty(Model.PreviewUrl))
    {
        Model.PreviewUrl = "https://via.placeholder.com/200";
    }
}
<div class="eux-Image">
    <div style="margin: 10px;">
        <div style="background: white; border: solid 3px #ccc; border-radius: 5px; margin-bottom: 3px; padding: 5px; text-align: center;">
            @if (string.IsNullOrEmpty(Model.PreviewUrl))
            {
                <span style="display: inline; font-size: 80px; line-height: 0em; max-height: 200px; max-width: 200px; overflow: hidden;">
                    <img alt=""
                         src="@Model.PreviewUrl"
                         style="max-height: 100%; max-width: 100%;" />
                </span>
            }
            else
            {
                <a href="javascript:void(0);"
                   style="display: inline; font-size: 80px; line-height: 0em; max-height: 200px; max-width: 200px; overflow: hidden;">
                    <img alt=""
                         src="@Model.PreviewUrl"
                         style="max-height: 100%; max-width: 100%;" />
                </a>
            }
        </div>
    </div>
</div>