.eux-CuddlerTabs .nav-tabs .nav-item.show .nav-link, .eux-CuddlerTabs .nav-tabs .nav-link.active { align-items: center; background: #F5F8FA; border-color: #BCBCBC #BCBCBC transparent; border-radius: 0; display: flex; height: calc(100% + 1px); position: relative; top: 0; }
.eux-CuddlerTabs .nav-tabs .nav-link { align-items: center; border-color: #bcbcbc #bcbcbc transparent; border-radius: 0; color: inherit; display: flex; font-size: 14px; height: 100%; }
.eux-CuddlerTabs .nav-tabs .nav-link.active { background: white; }
.eux-CuddlerTabs .nav-tabs .nav-link:hover { border-bottom-color: transparent !important; border-color: #BCBCBC; border-radius: 0; }
.eux-CuddlerTabs .nav-tabs { border-bottom: solid 1px rgba(0, 0, 0, 0.2); border-radius: 0; height: 40px; padding-left: 25px; padding-right: 25px; padding-top: 0; position: relative; top: 1px; z-index: 99; }
.eux-CuddlerTabs .tab-content { background: white; border-top: none; overflow-y: auto; position: relative; }
.eux-CuddlerTabs { display: grid; flex-grow: 100; grid-template-rows: auto 1fr; height: 100%; }
.eux-CuddlerTabs .nav-link { display: block; padding: 5px 30px; }
.eux-CuddlerTabs .nav-item { flex-grow: 1; max-width: 500px; }
.modal-body .eux-CuddlerTabs .nav-tabs { background: transparent; }
.eux-CuddlerTabs .nav-tabs .nav-item { background: #F5F8FA; }
.eux-CuddlerTabs .nav-tabs .nav-item + .nav-item .nav-link { border-left-color: transparent; }
.eux-CuddlerTabs .tab-pane { padding: 20px; }