@using CuddlerDev.Pages.Shared.Cuddler.FormTooltip
@using CuddlerDev.Utils
@model CuddlerDev.Pages.Shared.Cuddler.FormLabel.FormLabelTagHelper

@if (!string.IsNullOrEmpty(Model.Text))
{
    <label for="@Model.ForProperty" @Model.Block.IsTrueHtml("class='d-block'")>
        @Html.Raw(Model.Text)
        @if (Model.Required)
        {
            <span class="eux-required">*</span>
        }
    </label>
    <form-tooltip title="@Model.Description" />
}