.eux-CuddlerHeader { background: white; border-radius: 3px 3px 0 0; margin: auto; max-width: 1430px; width: 100%; }
.eux-CuddlerHeader .eux-CuddlerHeader-wrapper { align-items: center; }
.eux-CuddlerHeader .eux-CuddlerHeader-wrapper > div:first-child { min-height: 70px; }
.eux-CuddlerHeader .eux-CuddlerHeader-wrapper > div { display: grid; height: 100%; }
.eux-CuddlerHeader.eux-CuddlerHeader-hasBottomBorder .eux-CuddlerHeader-wrapper .eux-Heading2 { border-bottom: solid 1px #bcbcbc; }
.eux-CuddlerHeader.eux-CuddlerHeader-Success { background: aquamarine; }
.eux-CuddlerHeader.eux-CuddlerHeader-Success + .eux-PageContent { background: aquamarine; }
.eux-CuddlerHeader.eux-CuddlerHeader-Warning { background: #EFC210; }
.eux-CuddlerHeader.eux-CuddlerHeader-Warning + .eux-PageContent { background: #EFC210; }
.eux-CuddlerHeader.eux-CuddlerHeader-Danger { background: rosybrown; }
.eux-CuddlerHeader.eux-CuddlerHeader-Danger + .eux-PageContent { background: rosybrown; }