.eux-CuddlerCards { height: 100%; display: flex; padding: 20px; overflow-y: scroll;}
.eux-CuddlerTabs .eux-CuddlerCards { height: inherit; overflow-y: auto;}
.eux-CuddlerHeader + .eux-CuddlerBody > .eux-CuddlerBody-wrapper > .eux-CuddlerCards { border-top: solid 1px #bcbcbc; }