@using CuddlerDev.Pages.Shared.Cuddler.FormLabel
@using Kendo.Mvc.UI
@model global::CuddlerDev.Forms.FormField
@{
    var dictionary = Model.HtmlAttributes as Dictionary<string, object?> ?? new Dictionary<string, object?>();
    if (Model.Tabindex != null)
    {
        dictionary.Add("tabindex", Model.Tabindex);
    }
    dictionary.Add("id", Model.WebId);
}

@if (!Model.HideLabel)
{
    <form-label description="@Model.Description"
                for-property="@Model.WebId"
                text="@Model.Label" />
}
<div>
    @(Html.Kendo()
          .ColorPicker()
          .Name(Model.Name)
          .Value(Model.Value)
          .HtmlAttributes(dictionary))
</div>
@if (Model.ReadOnly)
{
    <script>
        $(document).ready(function() {
            const textbox = $("#@(Model.WebId)").data("kendoColorPicker");
            textbox.readonly();
        });
    </script>
}