.eux-ActionButton .eux-appmenubuttons { width: 100%; }
.eux-ActionButton .eux-appmenubuttons button { width: 100%; }
.eux-ActionButton .eux-appmenubuttons .eux-link { border-color: transparent; }
.eux-jumbo-size.eux-ActionButton .eux-appmenubuttons .btn { font-size: 20px; }