.eux-Checkbox {
  margin-top: 3px;
}

.eux-CuddlerFormFields label.eux-Checkbox {
  display: inline;
}

.eux-Checkbox span {
  position: relative;
  top: -2px;
}
.eux-readonly .k-input-button {
  background: #E9ECEF;
}
.eux-readonly .k-picker {
  background: #E9ECEF;
}
.eux-FlatColorPicker .k-picker-wrap {
  width: 75px;
}

.eux-FlatColorPicker .k-picker-wrap .k-selected-color {
  width: 72px;
}

.eux-FlatColorPicker .k-picker-wrap .k-select {
  width: 34px;
}
.eux-FormInput-hidden .field-validation-error {
  display: none;
}
.eux-InlineHtml-lbls {
  padding-bottom: 10px;
}
.eux-RadioImageList input {
  left: -10000px;
  position: absolute;
}

.eux-RadioImageList label {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.eux-RadioImageList .eux-item,
.eux-RadioImageList .eux-item * {
  cursor: pointer;
}

.eux-RadioImageList .eux-item {
  border: solid 2px transparent;
  border-radius: 10px;
}

.eux-RadioImageList .eux-item.eux-checked {
  border: solid 2px #ccc;
}
.eux-RadioList input[type=radio] {
  position: relative;
  top: 1px;
}
.k-textbox {
  padding-bottom: 1px;
  width: 100%;
}
textarea.k-textbox {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 3px;
  color: #333;
}
.eux-UploadEditor .eux-Description {
  padding-bottom: 10px;
}
table tr td > .eux-YesNo {
  padding-top: 5px;
}

.eux-YesNo label {
  margin: 0;
}

.eux-YesNo label .eux-cblbl {
  font-weight: normal;
  position: relative;
  top: -2px;
}
.eux-YesNoNa label {
  margin-bottom: 0;
}

.eux-YesNoNa .eux-options {
  display: inline-grid;
  grid-column-gap: 5px;
  grid-template-columns: 50px 42px 50px;
}

.eux-YesNoNa .eux-options label {
  font-weight: normal;
}
.eux-CuddlerCancelButton {
  max-width: 200px;
  width: 100%;
}
.eux-CuddlerTrashButton {
  max-width: 200px;
  width: 100%;
}
.eux-CuddlerSaveButton {
  max-width: 200px;
  width: 100%;
}
.eux-AccountDropdown {
  font-size: 14px;
}

.eux-AccountDropdown .menu-info {
  padding: 0 24px;
  white-space: nowrap;
}

.eux-AccountDropdown .menu-info + .menu-info {
  padding-top: 5px;
}

.eux-AccountDropdown .dropdown-menu {
  font-size: 13px;
  position: absolute;
}

.eux-AccountDropdown .dropdown-menu h4 {
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-top: 10px;
}

.eux-AccountDropdown .dropdown-menu h5 {
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-top: 20px;
}
.eux-ActionButton .eux-appmenubuttons {
  width: 100%;
}

.eux-ActionButton .eux-appmenubuttons button {
  width: 100%;
}

.eux-ActionButton .eux-appmenubuttons .eux-link {
  border-color: transparent;
}

.eux-jumbo-size.eux-ActionButton .eux-appmenubuttons .btn {
  font-size: 20px;
}
.eux-AppHeader {
  align-content: center;
  display: grid;
  width: 100%;
}

.eux-portal .eux-AppHeader {
  background: var(--AppHeader);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.eux-AppHeader .eux-pod .eux-menuPageTitle {
  align-items: center;
  color: var(--ColorSix);
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: 46px;
  padding: 0 15px;
}

.eux-AppHeader .eux-pod .eux-menuPageTitle.eux-menuBreadcrumbs {
  grid-template-columns: 1fr;
}

.eux-AppHeader .eux-pod .eux-menuPageTitle-text + i {
  font-size: 14px;
  padding-top: 4px;
}

.eux-AppHeader .eux-pod .eux-menuPageTitle-text {
  align-items: center;
  display: flex;
}

.eux-AppHeader .eux-pod .eux-menuPageTitle-text .eux-Iconbutton {
  margin-right: 10px;
}

.eux-AppHeader .eux-pod .eux-menuPageTitle .eux-PopupButtonWidget {
  font-size: 1.7em;
  position: absolute;
  top: -3px;
}

.eux-AppHeader .eux-pod .eux-menuPageTitle > div {
  font-size: 20px;
  line-height: 20px;
  position: relative;
}

.eux-AppHeader .eux-pod .eux-menuPageTitle.eux-notabs {
  padding-bottom: 15px;
}

.eux-AppHeader .eux-pod .eux-menuPageTitle .btn {
  border-radius: 5px;
  font-size: 13px;
  padding: 16px 10px;
  text-transform: uppercase;
}

.eux-AppHeader .eux-menubars {
  width: 35px;
}

.eux-AppHeader .eux-topbar {
  align-items: center;
  padding-right: 20px;
}

.eux-AppHeader .eux-topbar .btn {
  font-size: 13px;
  line-height: 15px;
}

.eux-mobile .eux-AppHeader .eux-pod .eux-menuPageTitle {
  margin-bottom: 15px;
}
.eux-ActionMenu .btn.btn-link {
  box-shadow: none;
  color: #33475b;
  font-size: 13px;
  text-decoration: none;
}

.eux-ActionMenu .btn.link {
  box-shadow: none;
  color: #33475b;
  font-size: 13px;
  text-decoration: none;
}

.eux-ActionMenu .btn.show + .kagVYw {
  display: block;
}

.eux-ActionMenu .btn.show:focus {
  box-shadow: none;
}

.eux-ActionMenu .dropdown {
  width: 100%;
}

.eux-ActionMenu .dropdown button {
  width: 100%;
}

.eux-ActionMenu .dropdown-item {
  border: transparent;
}

.eux-ActionMenu .dropdown-item .btn {
  align-items: center;
  align-self: center;
  display: flex;
  padding: 0;
  width: 100%;
}

.eux-ActionMenu .dropdown-menu {
  width: 200px;
}

.eux-ActionMenu .eux-link {
  background: none;
  border: none;
  color: #33475b;
  display: block;
  font-size: 13px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.eux-ActionMenu .eux-link:hover {
  background: transparent;
  background-color: transparent;
}

.eux-ActionMenu .dropdown-item.active,
.eux-ActionMenu .dropdown-item:active {
  background: var(--bs-dropdown-link-hover-bg);
  color: inherit;
}

.eux-ActionMenu .eux-radius-end-0 .btn {
  border-radius: 6px 0 0 6px;
}

.eux-ActionMenu .kagVYw {
  background-color: white;
  border-bottom-color: rgb(203, 214, 226);
  border-image: initial;
  border-left-color: transparent !important;
  border-right-color: rgb(203, 214, 226);
  border-style: solid;
  border-top-color: transparent !important;
  border-top-left-radius: 100%;
  border-width: 1px;
  clip-path: polygon(100% 100%, 0px 100%, 100% 0px);
  display: none;
  height: 20px;
  left: 87px;
  pointer-events: none;
  position: absolute;
  top: 25px;
  transform: rotate(-135deg);
  width: 20px;
  z-index: 9999;
}
/* */

.eux-AppMenu {
  background: var(--ColorFive);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr;
  position: relative;
}

.eux-AppMenu .eux-app-bar {
  align-items: center;
  background: var(--AppHeader);
  border-bottom: solid 1px #bcbcbc;
  display: flex;
  text-align: center;
}

.eux-AppMenu .eux-app-bar a {
  color: var(--ColorThree);
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  text-decoration: none;
}

.eux-AppMenu.showapps {
  border-left: 1px solid var(--ColorThree);
  grid-template-columns: 53px 1fr;
}

/* */

.eux-AppMenu .eux-AppMenu-divider.eux-AppMenu-divider-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 11px;
  font-weight: bold;
  margin: 30px 15px 15px 15px;
  padding-left: 5px;
  padding-top: 10px;
  text-transform: uppercase;
  width: 200px;
}

.eux-AppMenu .eux-AppMenu-divider-top {
  color: var(--ColorSix);
  font-weight: bold;
  margin-bottom: 15px;
  padding: 8px 0 5px 10px;
  text-transform: uppercase;
}

/* */

.eux-appmenu-button-tools {
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 20px 20px 20px;
  margin: 5px 10px;
  padding-left: 100px;
  position: absolute;
  z-index: 9;
}

.eux-appmenu-button-tools .eux-PopupButton {
  height: 20px;
}

.eux-appmenu-button-tools i {
  font-size: 12px;
}

.eux-appmenu-button-tools .btn {
  align-content: center;
  align-items: center;
  display: grid;
  height: 20px;
  padding: 0;
  text-align: center;
  width: 20px;
}

/* */

.eux-AppMenu .eux-AppMenu.eux-AppMenu--noapps {
  grid-template-columns: 1fr;
}

/* */

.eux-AppMenu .eux-AppMenu-aside {
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-template-rows: 150px 1fr;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.eux-AppMenu .eux-AppMenu-aside h1 {
  font-size: 16px;
  padding-bottom: 1rem;
}

.eux-AppMenu .eux-AppMenu-aside::-webkit-scrollbar {
  width: 2px;
}

/* */

.eux-AppMenu .eux-AppMenu-nav {
  background: var(--ColorOne);
  padding: 16px 4px;
}

.eux-AppMenu .eux-AppMenu-nav ul .dropdown-menu {
  -ms-border-radius: 0;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #222222;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.eux-AppMenu .eux-AppMenu-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.eux-AppMenu .eux-AppMenu-nav ul {
  position: relative;
}

.eux-AppMenu .eux-AppMenu-nav ul li {
  height: 62px;
  position: relative;
  width: 45px;
}

.eux-AppMenu .eux-AppMenu-nav ul li > img {
  margin: 0 5px;
  margin-left: 4px;
}

.eux-AppMenu .eux-AppMenu-nav ul li a > i {
  color: var(--ColorTwo);
  font-size: 20px;
  position: relative;
}

.eux-AppMenu .eux-AppMenu-nav ul li a > img {
  top: 6px;
}

.eux-AppMenu .eux-AppMenu-nav ul li a,
.eux-AppMenu-nav ul li button {
  align-items: center;
  border-radius: 5px;
  color: var(--ColorFour);
  display: grid;
  line-height: 14px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
}

.eux-AppMenu .eux-AppMenu-nav ul li > a > span {
  display: block;
  display: none;
  font-size: 6px;
  margin-bottom: 0;
}

.eux-AppMenu .eux-AppMenu-nav ul li a:hover,
.eux-AppMenu-nav ul li button:hover {
  background-color: var(--ColorThree);
}

.eux-AppMenu .eux-AppMenu-nav ul li button i {
  left: -8px;
  position: relative;
  top: 2px;
}

.eux-AppMenu .eux-AppMenu-nav ul li img {
  height: 30px;
  margin: auto;
  width: 30px;
}

.eux-AppMenu .eux-AppMenu-nav ul li a,
.eux-AppMenu .eux-AppMenu-nav ul li.active a {
  color: var(--ColorFour);
  height: 45px;
  text-decoration: none;
  width: 45px;
}

.eux-AppMenu .eux-AppMenu-nav ul li.active a {
  background: rgba(0, 0, 0, 0.5);
}

.eux-AppMenu .eux-AppMenu-nav ul li.active a > i {
  color: var(--ColorTwo);
}

.eux-AppMenu .eux-AppMenu-nav::-webkit-scrollbar {
  display: none;
}

.eux-AppMenu .eux-AppMenu-alt .eux-AppMenu-nav ul {
  display: none;
}

.eux-AppMenu .nav-main-link-name i {
  margin-right: 10px;
}

/* */

.eux-AppMenu .breadcrumb-label {
  align-content: center;
  background: var(--ColorSeven);
  color: #333;
  display: grid;
  font-size: 12px;
  padding-left: 20px;
}

.eux-AppMenu .breadcrumb-label span {
  padding: 0 10px 3px 0;
}

/* hover affect */

.eux-AppMenu .eux-AppMenu-nav ul li a i {
  transition: all 0.1s;
}

.eux-AppMenu .eux-AppMenu-nav ul li a span {
  transition: all 0.1s;
}

.eux-AppMenu .eux-AppMenu-nav ul li a:hover {
  background-color: var(--ColorThree);
  height: 75px;
  left: -15px;
  position: relative;
  top: -15px;
  width: 75px;
  z-index: 9999999999999;
}

.eux-AppMenu .eux-AppMenu-nav ul li a:hover i {
  font-size: 36px;
}

.eux-AppMenu .eux-AppMenu-nav ul li a:hover span {
  display: block;
  font-size: 10px;
}

/* app button */

.eux-portal .eux-AppMenu-aside .eux-appmenu-button {
  border-top-left-radius: 15px;
}

.eux-AppMenu .eux-appmenu-button a,
.eux-AppMenu .eux-appmenu-button a:hover {
  color: inherit;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2em;
  padding-top: 0.5em;
  text-decoration: none;
}

.eux-appmenu-button .eux-appmenu-button-links {
  display: flex;
  justify-content: center;
  padding: 12px 0 0 0;
  text-align: center;
}

.eux-appmenu-button .eux-appmenu-button-links a:hover {
  text-decoration: none;
}

.eux-appmenu-button .eux-appmenu-button-links .app-icon {
  align-items: center;
  background: var(--ColorThree);
  border-radius: 10px;
  color: var(--ColorFour);
  display: grid;
  font-size: 36px;
  height: 75px;
  margin: auto;
  overflow: hidden;
  padding-left: 3px;
  width: 75px;
}

.eux-appmenu-button .eux-appmenu-button-links .eux-appmenu-button-label {
  color: var(--ColorSix);
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.eux-appmenu-button-tools .eux-btn-content > span:last-child {
  display: none;
}

/* app menu */

.eux-app-nav-main-link {
  align-items: center;
  border-radius: .2rem;
  display: flex;
  font-size: .875rem;
  line-height: 1rem;
  margin: 0 5px;
  position: relative;
  text-decoration: none;
  /*padding-left: 10px;*/
  /*padding-left: 10px;*/
}

.eux-app-nav-main-link:not(.active):not(.disabled) .eux-app-nav-main-link-name,
.eux-app-nav-main-link {
  color: var(--ColorEight);
}

.eux-app-nav-main-link .fa-grip-vertical {
  left: 5px;
  position: absolute;
  top: 10px;
}

.eux-app-nav-main-link:not(.active) {
  background: rgba(0, 0, 0, 0.1);
  border: solid rgba(255, 255, 255, 0.01) 1px;
}

.eux-app-nav-main-link.disabled {
  background: lightgray;
  color: darkgray;
}

.eux-app-nav-main-link .eux-app-nav-main-link-name {
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  padding: .5rem .625rem;
}

.eux-app-nav-main-link:not(.disabled):hover .eux-app-nav-main-link-name {
  background: rgba(255, 255, 255, 0.1);
  color: var(--ColorFour);
}

.eux-app-nav-main-link:not(.disabled):hover {
  background: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.content-side {
  width: 180px;
}

.eux-app-nav-main-link.active,
.content-side .nav-main:hover .eux-app-nav-main-link.active:hover {
  background-color: var(--ColorThree);
  color: var(--ColorFour);
  font-weight: normal;
  text-decoration: none;
}

.content-side .nav-main {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}

.eux-nav-main-item {
  list-style-type: none;
  margin-bottom: 5px;
}

.eux-nav-main-item.eux-AppMenu-divider-top {
  border: none;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 10px;
}

.eux-nav-main-item + .eux-AppMenu-divider-top {
  font-size: 11px;
  margin-top: 15px;
}

.eux-nav-main-item.eux-AppMenu-divider-middle {
  color: transparent !important;
  font-size: 0;
  padding: 0px 0 5px 20px;
}

.eux-nav-main-item.eux-nav-main-item-editgrid {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
}

.nav-main .eux-draggable-drop {
  align-content: center;
  display: grid;
  height: 34px;
  padding-left: 10px;
  text-align: center;
}

.eux-nav-main-item .btn.btn-icon {
  box-shadow: none !important;
}

.eux-linktools {
  align-items: center;
  background: darkgray;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  height: 32px;
  padding: 3px;
  position: absolute;
  right: 0;
  z-index: 999;
}

.eux-linktools > * {
  margin: 0 3px;
}

.eux-portal .eux-AppMenu-aside .eux-appmenu-button {
  border-top-left-radius: 15px;
}

.eux-AppMenu .eux-appmenu-button .eux-appmenu-link {
  display: flex;
  justify-content: center;
  padding: 15px 0 0 0;
  text-align: center;
  width: 180px;
}

.eux-AppMenu .eux-appmenu-button .eux-appmenu-link a:hover {
  text-decoration: none;
}

.eux-AppMenu .eux-appmenu-button .eux-appmenu-link .app-icon {
  align-items: center;
  background: var(--ColorThree);
  border-radius: 10px;
  color: var(--ColorFour);
  display: grid;
  font-size: 43px;
  height: 75px;
  margin: auto;
  overflow: hidden;
  padding-left: 2px;
  padding-top: 0;
  width: 75px;
}

.eux-AppMenu .eux-appmenu-button .eux-appmenu-link .eux-appbutton-label {
  color: var(--ColorSix);
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.eux-Autosave {
  position: relative;
}

.eux-Autosave > form > article {
  display: block;
}

.eux-Autosave .field-validation {
  border-radius: 50px;
  bottom: -2px;
  display: none;
  font-size: 10px;
  padding: 2px 4px 0px 4px;
  position: absolute;
  text-transform: uppercase;
}

.eux-Autosave .field-validation-error {
  color: darkred;
  text-align: left;
}

.eux-Autosave .field-validation-success {
  background: rgba(0, 0, 0, .2);
  color: darkgreen;
  text-align: left;
}
.k-notification {
  margin-bottom: 3px;
  padding-right: 20px;
  width: 300px;
}

.k-notification-closable > .k-notification-wrap {
  overflow: hidden;
  overflow-wrap: anywhere;
}
.eux-AutosaveButton {
  max-width: 200px;
  width: 100%;
}
.eux-BreadcrumbLink {
  display: inline-block;
}

.eux-BreadcrumbLink a {
  display: inline-block;
}

.eux-BreadcrumbLink a .fa {
  align-items: center;
  background: var(--ColorThree);
  border-radius: 2px;
  color: var(--ColorFour) !important;
  display: inline-grid;
  height: 20px;
  padding: 2px;
  width: 20px;
}
.eux-Badge a {
  color: inherit;
  text-decoration: none;
}

.eux-Badge .badge-size-1 {
  font-size: 10px;
  padding: 6px 12px;
}

.eux-Badge .badge-size-2 {
  font-size: 16px;
}

.eux-Badge .badge-size-3 {
  font-size: 22px;
}

.eux-Badge .badge-size-4 {
  font-size: 26px;
}

.eux-Badge .bg-info {
  color: white;
}
.eux-Breadcrumbs {
  align-items: center;
  align-items: center;
  display: flex;
  padding: 0 10px;
}

.eux-Breadcrumbs > * :before {
  color: #ccc;
  content: '/';
  padding-left: 10px;
  padding-right: 10px;
}

.eux-Breadcrumbs .eux-BreadcrumbLink {
  color: var(--ColorSix);
  display: inline-block;
}

.eux-Breadcrumbs .eux-BreadcrumbLink .eux-link,
.eux-AppHeader .eux-pod .eux-menuPageTitle .eux-link {
  color: #777;
  font-size: 12px;
  text-decoration: none;
}

.eux-Breadcrumbs .eux-BreadcrumbLink:last-child a {
  text-decoration: none !important;
}
.eux-ButtonLink {
  display: inline-block;
}

.eux-ButtonLink a {
  display: inline-block;
}

.eux-ButtonLink a.btn-light {
  background-color: #eaf0f6;
  border-color: #cbd6e2;
  color: #506e91;
  font-size: 12px;
}

.eux-ButtonLink a.btn-warning {
  color: black;
}

.eux-ButtonLink a.eux-link {
  color: #0069D9;
  cursor: pointer;
}
.d-flex-gap-1 > * {
  margin-right: 5px;
}

.d-flex-gap-1 > .eux-CuddlerBlock {
  margin-bottom: 5px;
  margin-right: 5px;
}

.d-flex-gap-2 > * {
  margin-right: 10px;
}

.d-flex-gap-2 > .eux-CuddlerBlock {
  margin-bottom: 10px;
  margin-right: 10px;
}

.d-flex-gap-3 > * {
  margin-right: 15px;
}

.d-flex-gap-3 > .eux-CuddlerBlock {
  margin-bottom: 15px;
  margin-right: 15px;
}

.d-flex-gap-4 > * {
  margin-right: 20px;
}

.d-flex-gap-4 > .eux-CuddlerBlock {
  margin-bottom: 20px;
  margin-right: 20px;
}

.eux-CuddlerBlock.eux-Mini {
  width: 280px;
}

.eux-CuddlerBlock.eux-Small {
  width: 429px;
}

.eux-CuddlerBlock.eux-Grow {
  flex-grow: 1;
}

.eux-CuddlerBlock.eux-Medium {
  width: 655px;
}

.eux-CuddlerBlock.eux-Paper {
  width: 812px;
}

.eux-CuddlerBlock.eux-Large {
  width: 880px;
}

.eux-CuddlerBlock.eux-Full {
  margin: auto;
  width: 1360px;
}

.eux-CuddlerBlock > .card {
  border-radius: 2px;
  height: 100%;
  padding: 20px;
  --bs-card-border-color: transparent;
}

@keyframes euxCuddlerBlock {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-o-keyframes euxCuddlerBlock {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-moz-keyframes euxCuddlerBlock {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-webkit-keyframes euxCuddlerBlock {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

.eux-CuddlerBlock .eux-loader-background-flicker {
  -moz-animation: euxCuddlerBlock 3s infinite;
  -o-animation: euxCuddlerBlock 3s infinite;
  -webkit-animation: euxCuddlerBlock 3s infinite;
  animation: euxCuddlerBlock 3s infinite;
}

.eux-CuddlerBlock .eux-loader-background {
  background-color: #EEEEEE;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.eux-CuddlerBlock .eux-card-title {
  align-items: center;
  display: flex;
  height: 49px;
}

.eux-CuddlerBlock .eux-card-title .eux-ActionMenu .kagVYw {
  left: 37px;
}

.eux-CuddlerBlock .card .eux-loader-wrapper > * {
  margin-bottom: 1em;
}
.k-grid-toolbar .eux-CuddlerFormCreate .btn {
  padding: 3px 10px;
}

.k-grid-toolbar .eux-CuddlerFormCreate .eux-btn-content {
  font-size: 13px;
}
.eux-CuddlerFormFields-question {
  position: relative;
}

.eux-CuddlerFormFields,
.eux-CuddlerFormFields .d-grid {
  display: grid;
  grid-column-gap: 2em;
  grid-column-gap: 1em;
}

.eux-CuddlerFormFields .d-grid > .row > .col > div + div {
  margin-top: 1em;
}

.eux-CuddlerFormFields .eux-Matrix .eux-Autosave .field-validation-error {
  display: none;
}

.eux-CuddlerFormFields .eux-Matrix label {
  margin-bottom: 0;
}

.eux-CuddlerFormFields .eux-Badge {
  margin-bottom: 10px;
}
.eux-CuddlerGrid .fas {
  font-size: 18px;
}
.eux-CuddlerInformation .d-flex {
  align-items: center;
}

.eux-CuddlerInformation .alert .text {
  display: block;
  width: 100%;
}

.eux-CuddlerInformation .alert {
  border-radius: 0;
  margin-bottom: 0;
}

.eux-CuddlerInformation .alert-meta {
  background: rgba(0, 0, 0, 0.1);
  border: solid rgba(255, 255, 255, 0.01) 1px;
}

.eux-CuddlerInformation .alert-meta.p-4 {
  margin: 0 !important;
  padding: 8px !important;
}

.eux-CuddlerInformation .eux-Icon {
  font-size: 28px;
  margin-right: 20px;
}

.eux-CuddlerInformation .d-grid-auto-1fr {
  align-items: center;
}

.eux-CuddlerInformation .eux-Warning .alert {
  border-radius: 0;
}

.eux-CuddlerInformation .eux-Warning .alert-info {
  background: #ffe9aa;
  border-color: darkkhaki;
}
.eux-CuddlerHeading {
  display: grid;
  height: 100%;
  margin: auto;
  max-width: 1400px;
  padding: 0 35px;
  width: 100%;
}

.eux-CuddlerHeading .eux-slogan {
  max-width: 650px;
}

.eux-CuddlerHeading h6 {
  padding-top: 5px;
}

.eux-CuddlerHeading .align-items-center > div {
  display: flex;
}

.eux-CuddlerHeading .eux-border-left {
  align-items: center;
  border-left: solid 1px var(--ColorFive);
  margin-left: 10px;
}

.eux-CuddlerHeading .eux-Header-actionmenu .dropdown {
  width: 100%;
}

.eux-CuddlerHeading .eux-Header-actionmenu .dropdown button {
  width: 100%;
}

.eux-CuddlerHeading .eux-Header-actionmenu .eux-link {
  background: transparent;
  border: none;
  color: #33475b;
  display: block;
  font-size: 13px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.eux-CuddlerHeading .eux-Header-actionmenu .eux-link:hover {
  background: transparent;
}

.eux-CuddlerHeading .eux-Header-actionmenu .btn.link {
  box-shadow: none;
  color: #33475b;
  font-size: 13px;
  text-decoration: none;
}

.eux-CuddlerHeading .eux-Header-actionmenu .btn.btn-link {
  box-shadow: none;
  color: #33475b;
  font-size: 13px;
  text-decoration: none;
}

.eux-CuddlerHeading .eux-Header-actionmenu .dropdown-menu {
  width: 200px;
}

.eux-CuddlerHeading .eux-Header-actionmenu .btn.show:focus {
  box-shadow: none;
}

.eux-CuddlerHeading .eux-Header-actionmenu .eux-radius-end-0 .btn {
  border-radius: 6px 0 0 6px;
}

.eux-CuddlerHeading .eux-Header-actionmenu .dropdown-item:active .eux-link {
  color: white;
}

.eux-CuddlerHeading .eux-Header-actionmenu .kagVYw {
  background-color: white;
  border-bottom-color: rgb(203, 214, 226);
  border-image: initial;
  border-left-color: transparent !important;
  border-right-color: rgb(203, 214, 226);
  border-style: solid;
  border-top-color: transparent !important;
  border-top-left-radius: 100%;
  border-width: 1px;
  clip-path: polygon(100% 100%, 0px 100%, 100% 0px);
  display: none;
  height: 20px;
  left: 87px;
  pointer-events: none;
  position: absolute;
  top: 25px;
  transform: rotate(-135deg);
  width: 20px;
  z-index: 9999;
}

.eux-CuddlerHeading .eux-Header-actionmenu .btn.show + .kagVYw {
  display: block;
}
.eux-Portal .eux-CuddlerPage {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.eux-Page-LightGray .tab-content {
  background: #EBEBEB;
}

.eux-Page-LightGray .eux-ContentTabs {
  background: #EBEBEB;
}

.eux-Page-LightGray .nav-tabs .nav-link.active {
  background: #EBEBEB;
}

.eux-Page-LightGray .eux-portal main > .eux-CuddlerPage {
  background: #EBEBEB;
}

.eux-portal main > .eux-CuddlerPage.eux-Page-LightGray {
  background: #EBEBEB;
}
.eux-CuddlerPageContentSection {
  align-content: start;
  height: 100%;
  padding: 15px;
}
.eux-CuddlerPageContent {
  height: calc(100vh - 121px);
  overflow-y: scroll;
}

.eux-noheader .eux-CuddlerPageContent {
  height: calc(100vh - 49px);
}

.eux-CuddlerPageContent .eux-CuddlerPageContent-wrapper {
  height: 100%;
  margin: auto;
  max-width: 1400px;
  width: 100%;
}
.eux-CuddlerPopup.medium .btn.btn-icon {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-size: 38px;
  height: 60px;
  width: 60px;
}

.eux-CuddlerPopup.large .btn.btn-icon {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-size: 68px;
  height: 112px;
  width: 112px;
}

.eux-CuddlerPopup.btn-pill .btn.btn-icon {
  border-radius: 30px;
}

.eux-CuddlerPopup .btn-icon .eux-btn-content > span:last-child {
  display: none;
}

.eux-CuddlerPopup .eux-icon-Edit.btn.btn-icon {
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .2);
  display: grid;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 30px;
}

.eux-CuddlerPopup .eux-icon-Edit.btn.btn-icon .fa-pencil {
  color: white;
  font-size: 14px;
}

.eux-CuddlerPopup .eux-icon-Edit.btn.btn-icon:hover {
  background: var(--ColorThree);
  border-color: var(--ColorThree);
  color: var(--ColorFour);
}

.eux-CuddlerPopup .eux-icon-Edit.btn.btn-icon:hover .fa-pencil {
  color: white;
}
.eux-CuddlerPageHeading .eux-CuddlerPageHeading-wrapper {
  align-items: center;
}

.eux-CuddlerPageHeading .eux-CuddlerPageHeading-wrapper > div:first-child {
  min-height: 70px;
}

.eux-CuddlerPageHeading .eux-CuddlerPageHeading-wrapper > div {
  display: grid;
  height: 100%;
  margin: 5px auto 0 auto;
  max-width: 1400px;
  width: 100%;
}

.eux-CuddlerPageHeading.eux-CuddlerPageHeading-hasBottomBorder .eux-CuddlerPageHeading-wrapper .eux-Heading2 {
  border-bottom: solid 1px #bcbcbc;
}

.eux-CuddlerPageHeading.eux-CuddlerPageHeading-hasBottomBorder .eux-CuddlerPageHeading-wrapper .eux-CuddlerHeading {
  border-bottom: solid 1px #bcbcbc;
}

.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Success {
  background: aquamarine;
}

.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Success + .eux-PageContent {
  background: aquamarine;
}

.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Warning {
  background: #EFC210;
}

.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Warning + .eux-PageContent {
  background: #EFC210;
}

.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Danger {
  background: rosybrown;
}

.eux-CuddlerPageHeading.eux-CuddlerPageHeading-Danger + .eux-PageContent {
  background: rosybrown;
}
.d-flex-gap-1 > .eux-CuddlerReplace {
  margin-bottom: 5px;
  margin-right: 5px;
}

.d-flex-gap-2 > .eux-CuddlerReplace {
  margin-bottom: 10px;
  margin-right: 10px;
}

.d-flex-gap-3 > .eux-CuddlerReplace {
  margin-bottom: 15px;
  margin-right: 15px;
}

.d-flex-gap-4 > .eux-CuddlerReplace {
  margin-bottom: 20px;
  margin-right: 20px;
}

.eux-CuddlerReplace.eux-Mini {
  width: 280px;
}

.eux-CuddlerReplace.eux-Small {
  width: 429px;
}

.eux-CuddlerReplace.eux-Grow {
  flex-grow: 1;
}

.eux-CuddlerReplace.eux-Medium {
  width: 655px;
}

.eux-CuddlerReplace.eux-Paper {
  width: 812px;
}

.eux-CuddlerReplace.eux-Large {
  width: 880px;
}

.eux-CuddlerReplace.eux-Full {
  margin: auto;
  width: 1360px;
}

.eux-CuddlerReplace > .card {
  border-radius: 2px;
  padding: 20px;
}

@keyframes euxCuddlerReplace {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-o-keyframes euxCuddlerReplace {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-moz-keyframes euxCuddlerReplace {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-webkit-keyframes euxCuddlerReplace {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

.eux-CuddlerReplace .eux-loader-background-flicker {
  -moz-animation: euxCuddlerReplace 3s infinite;
  -o-animation: euxCuddlerReplace 3s infinite;
  -webkit-animation: euxCuddlerReplace 3s infinite;
  animation: euxCuddlerReplace 3s infinite;
}

.eux-CuddlerReplace .eux-loader-background {
  background-color: #EEEEEE;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.eux-CuddlerReplace .eux-card-title {
  align-items: center;
  display: flex;
  height: 49px;
}

.eux-CuddlerReplace .eux-card-title .eux-ActionMenu .kagVYw {
  left: 37px;
}

.eux-CuddlerReplace .card .eux-loader-wrapper > * {
  margin-bottom: 1em;
}
.eux-CuddlerPopupUpdate {
  display: inline-block;
}
.eux-CuddlerTabs .nav-tabs .nav-item.show .nav-link,
.eux-CuddlerTabs .nav-tabs .nav-link.active {
  align-items: center;
  background: #F5F8FA;
  border-color: #BCBCBC #BCBCBC transparent;
  border-radius: 0;
  display: flex;
  height: calc(100% + 1px);
  position: relative;
  top: 0;
}

.eux-CuddlerTabs .nav-tabs .nav-link {
  align-items: center;
  border-color: #bcbcbc #bcbcbc transparent;
  border-radius: 0;
  color: inherit;
  display: flex;
  font-size: 14px;
  height: 100%;
}

.eux-CuddlerTabs .nav-tabs .nav-link.active {
  background: white;
}

.eux-CuddlerTabs .nav-tabs .nav-link:hover {
  border-bottom-color: transparent !important;
  border-color: #BCBCBC;
  border-radius: 0;
}

.eux-CuddlerTabs .nav-tabs {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
  position: relative;
  top: 1px;
  z-index: 99;
}

.eux-CuddlerTabs .tab-content {
  background: white;
  border: solid 1px rgba(0, 0, 0, .2);
  border-top: none;
  height: calc(100vh - 167px);
  overflow-y: auto;
  position: relative;
}

.eux-CuddlerTabs {
  display: grid;
  flex-grow: 100;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.eux-CuddlerTabs .nav-link {
  display: block;
  padding: 5px 30px;
}

.eux-CuddlerTabs .nav-item {
  flex-grow: 1;
  max-width: 500px;
}

.modal-body .eux-CuddlerTabs .nav-tabs {
  background: transparent;
}

.eux-CuddlerTabs .nav-tabs .nav-item {
  background: #F5F8FA;
}

.eux-CuddlerTabs .nav-tabs .nav-item + .nav-item .nav-link {
  border-left-color: transparent;
}
.eux-Toolbar {
  align-items: center;
  background: var(--ColorFive);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 45px;
  padding: 3px 15px 0;
}

.eux-Toolbar .btn {
  font-size: 13px;
  padding: 3px 6px;
}

.eux-Toolbar .btn.btn-outline-warning {
  color: inherit;
}

.eux-Toolbar > .eux-pod {
  align-items: center;
  display: flex;
  width: 100%;
}

.eux-Toolbar > .eux-pod > * {
  margin-left: 2px;
  margin-right: 2px;
}

.eux-Toolbar.eux-Toolbar-justify > .eux-pod {
  justify-content: space-between;
}
.eux-CuddlerSubmitButton .eux-submit-btn {
  min-width: 100px;
}

.eux-CuddlerSubmitButton .eux-message {
  font-size: 12px;
  font-weight: normal;
}

.eux-CuddlerSubmitButton .eux-message.success {
  color: darkgreen;
  margin-top: 8px;
}

.eux-CuddlerSubmitButton .eux-message.error,
.eux-CuddlerSubmitButton .eux-error {
  color: #d9534f;
  font-weight: normal;
  margin-top: 8px;
}
.eux-Divider {
  margin: 20px 0;
}

.eux-FormField {
  display: block;
}

.eux-FormField label {
  display: block;
}

.eux-FormField .k-textbox {
  width: 100%;
}

.eux-FormField .k-textbox .k-input {
  border: none;
}

.eux-FormField.eux-readonly .k-select {
  background: #e9ecef;
  cursor: default;
}

.eux-FormField.eux-readonly .k-picker-wrap .k-icon {
  cursor: default;
}

.eux-FormField + .eux-FormField:not(.eux-FormField-hidden) {
  margin-top: 1em;
}

.eux-FormLabel .eux-required {
  color: darkred;
}
.eux-Help div {
  display: inline-block;
}
.eux-Iconbutton,
.eux-Iconbutton span,
.eux-Iconbutton a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.eux-Iconbutton span > i {
  display: block;
}

.eux-Iconbutton a > i {
  display: block;
}

.eux-Iconbutton span > span,
.eux-Iconbutton a > span {
  display: block;
  padding: 2px;
}

.eux-Iconbutton .eux-fa-3x i + span {
  font-size: 14px;
}

.eux-Iconbutton a:hover {
  text-decoration: none;
}
.eux-Icon {
  display: inline-block;
}
.eux-IconPill {
  position: relative;
}

.eux-IconPill > div {
  align-content: center;
  display: flex;
  grid-gap: 10px;
  grid-template-columns: auto 1fr;
  line-height: 10px;
  padding: 10px 9px;
  text-align: left;
}

.eux-IconPill .eux-Icon {
  align-items: center;
  display: flex;
}

.eux-IconPill .badge-size-1 {
  font-size: 14px;
}

.eux-IconPill .badge-size-2 {
  font-size: 18px;
}

.eux-IconPill .badge-size-3 {
  font-size: 22px;
}

.eux-IconPill .badge-size-4 {
  font-size: 26px;
}

.eux-IconPill .fas,
.eux-IconPill .far,
.eux-IconPill .fal {
  font-size: 36px;
}

/*.k-toolbar { border-width: 0; }
#ToolBar { font-size: 12px; }
#ToolBar i { font-size: 14px; }
#ToolBar .k-dropdown { font-size: 10px; }
#ToolBar .k-toolbar .k-overflow-anchor { font-size: 10px; }*/

/*.k-list-scroller { overflow: hidden; }*/

.eux-Kanban {
  height: 100%;
}

.eux-Kanban .eux-KanbanToolbar {
  align-items: center;
  background: #F9F9F9;
  border-bottom: 1px solid #dee2e6 !important;
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 1fr 200px;
  height: 47px;
  padding: 0 10px;
}

.eux-Kanban .eux-KanbanToolbar .h3 {
  font-size: 16px;
}

.eux-Kanban .eux-KanbanToolbar label {
  padding-top: 4px;
}

.eux-Kanban .items {
  cursor: pointer;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20px 1fr 20px;
  overflow-x: scroll;
  position: relative;
  user-select: none;
}

.eux-Kanban .items > * {
  grid-column: 2/-2;
}

.eux-Kanban .items > .full {
  grid-column: 1/-1;
}

.eux-Kanban .eux-pipeline {
  align-content: start;
  display: grid;
  height: 100%;
}

.eux-Kanban .eux-pipeline > * {
  grid-column: 2/-2;
}

.eux-Kanban .eux-pipeline > .eux-pipeline-hs {
  background: #F2F2F2;
  border-right: solid 1px #ddd;
  grid-column: 1/-1;
  overflow-x: scroll;
}

.eux-Kanban .eux-pipeline-hs {
  display: grid;
  grid-auto-columns: 270px;
  grid-auto-flow: column;
  grid-gap: 0;
  grid-template-columns: 0;
  height: calc(100vh - 125px);
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x proximity;
}

.eux-Kanban .eux-pipeline-hs:before,
.eux-pipeline-hs:after {
  content: '';
  width: 0;
}

.eux-Kanban .eux-pipeline.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.eux-Kanban .eux-pipeline-hs-item {
  -ms-overflow-style: none;
  /* IE and Edge */
  background: #F2F2F2;
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd;
  overflow-y: scroll;
  scrollbar-width: none;
}

.eux-Kanban .eux-pipeline-hs-item::-webkit-scrollbar {
  display: none;
}

.eux-Kanban .eux-pipeline-hs-item .title-bar {
  background: #F2F2F2;
  border-bottom: solid 1px #ddd;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.eux-Kanban .eux-pipeline-hs-item .title-bar .add-to-watchlist {
  position: absolute;
  right: 10px;
  top: 10px;
}

.eux-Kanban .eux-pipeline-hs-item .badge {
  border-radius: 0;
  color: #333;
  display: block;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  --bs-bg-opacity: 0.5;
}

.eux-Kanban .eux-pipeline-hs-item .count {
  display: block;
  font-size: 12px;
  margin-top: 3px;
  padding-left: 2px;
  text-transform: uppercase;
}

.eux-Kanban .eux-pipeline-hs-item {
  display: grid;
  grid-template-rows: auto 1fr;
}

.eux-Kanban .eux-MyWatchList-pod {
  border: none;
}

.eux-Kanban .eux-MyWorkQueue-pod {
  border: none;
  height: 490px;
}

.eux-Kanban .eux-drag-pod {
  background: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
  margin: 15px 5px 0 5px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 5px;
}

.eux-drag-card .card-title .badge {
  color: var(--ColorSix);
  font-size: 18px;
}

.eux-drag-card .card-title .badge:hover {
  color: var(--ColorSix);
}

.eux-drag-card {
  background: white;
  border: solid 1px #ddd;
  border-radius: 3px;
  margin: 5px;
  padding: 10px 10px;
  position: relative;
  width: 240px;
}

.eux-drag-card:hover {
  cursor: move;
}

.eux-drag-card + .eux-drag-card {
  margin-top: 10px;
}

.eux-drag-card * {
  box-sizing: content-box;
}

.eux-drag-card .card-title {
  border-bottom: dashed 1px #ddd;
  padding-bottom: 6px;
}

.eux-drag-card .heading {
  color: gray;
  font-size: 10px;
  text-transform: uppercase;
}

.eux-drag-card .difficulty {
  align-content: center;
  background: #4699ff;
  border-radius: 50px;
  color: white;
  display: grid;
  font-size: 13px;
  font-weight: bold;
  height: 20px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 10px;
  width: 20px;
}

.eux-drag-card .owner > * {
  background: #4699ff;
  border-radius: 30px;
  color: white;
  font-size: 32px;
  padding: 3px;
}

.eux-drag-card .stats {
  margin-top: 10px;
}

.eux-drag-card .value {
  font-weight: bold;
}

.eux-drag-card .date {
  font-size: 12px;
  padding-top: 2px;
}

.eux-drag-card .info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
}

.eux-drag-card .notes {
  font-size: 12px;
  height: 40px;
  overflow: hidden;
}

.eux-drag-card .notes span {
  font-weight: bold;
}

.eux-drag-card .actions {
  display: none;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 99;
}

.eux-drag-card .actions .fas {
  cursor: pointer;
  margin-left: 5px;
}

.eux-drag-card:hover .actions {
  display: block;
}

.eux-drag-card.list-item {
  align-content: center;
  background: #eee;
  border: dashed 1px #ddd;
  color: #ddd;
  display: grid;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
}

/* .card-body */

.eux-Kanban a.card-body,
.eux-Kanban a.card-body:hover {
  color: inherit;
  text-decoration: none;
}

.eux-Kanban a.card-body .card-button {
  padding-top: 10px;
}

.eux-Kanban a.card-body .card-button > * {
  display: block;
}

.eux-Kanban .eux-card-grid {
  display: grid;
  grid-gap: 10px;
}

.eux-Kanban .eux-card-grid .card-body {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.eux-Kanban .eux-card-grid .card-body .card-title {
  height: 40px;
}

.eux-Kanban .eux-card-grid .card-body .btn {
  margin: auto;
  top: 40px;
  width: 100px;
}

.eux-Kanban .eux-card-grid .card-body:hover {
  background: rgba(0, 0, 0, 0.5);
}

.eux-Kanban .eux-card-grid .card-body .card-button {
  display: none;
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.eux-Kanban .eux-card-grid .card-body:hover .card-button {
  display: block;
}

.eux-Kanban #PipelinePod {
  height: 100%;
}

.eux-Kanban .k-listview-content {
  flex: 0;
}

.eux-Kanban .eux-storyname {
  overflow: hidden;
  text-overflow: ellipsis;
}

.eux-Kanban .eux-metasmall {
  font-size: 13px;
}

#swimlane_placeholder {
  margin: 0;
  width: 228px;
}
.eux-portal .eux-logo-links .eux-editor {
  display: inline-block;
  position: relative;
}

.eux-portal .eux-logo-links {
  align-items: center;
  background: var(--AppHeader);
  border-bottom: solid 1px #bcbcbc;
  display: flex;
  height: 100%;
  margin: auto;
  width: 100%;
}

.eux-portal .eux-logo-links a {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.eux-portal .eux-logo-links a img {
  align-items: center;
  display: flex;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.eux-portal .eux-ModuleNavbar .eux-middle-links .navbar-nav .active .nav-link {
  background: var(--ColorThree);
}

.eux-portal .eux-ModuleNavbar .eux-middle-links .navbar-nav .nav-link span {
  margin-top: 8px;
}

.eux-portal .eux-ModuleNavbar .eux-middle-links .navbar-nav {
  -ms-overflow-style: none;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  margin: 5px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.eux-portal .eux-ModuleNavbar .eux-middle-links .navbar-nav::-webkit-scrollbar {
  display: none;
}

.eux-portal .eux-ModuleNavbar .eux-middle-links {
  -ms-overflow-style: none;
  margin: 0 5px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.eux-portal .eux-ModuleNavbar .eux-middle-links::-webkit-scrollbar {
  display: none;
}

.eux-portal .eux-ModuleNavbar .eux-navbar-links .navbar-nav {
  overflow-x: hidden;
  overflow-y: scroll;
}

.eux-portal .eux-ModuleNavbar .eux-navbar-links {
  height: 100%;
}

.eux-portal .eux-ModuleNavbar .eux-top-links .navbar-nav .nav-item {
  height: 80px;
  margin-top: 5px;
  position: relative;
}

.eux-portal .eux-ModuleNavbar .eux-top-links .navbar-nav .nav-link {
  border-radius: 5px;
}

.eux-portal .eux-ModuleNavbar .eux-top-links .navbar-nav .nav-link span {
  position: absolute;
  top: 60px;
}

.eux-portal .eux-ModuleNavbar .eux-top-links .nav-item .nav-link {
  background: rgba(0, 0, 0, 0.5);
}

.eux-portal .eux-ModuleNavbar .eux-top-links {
  border-top: solid 1px rgba(0, 0, 0, 0.01);
  padding: 0 5px;
}

.eux-portal .eux-ModuleNavbar .navbar-nav .nav-link {
  color: var(--ColorTwo);
  position: relative;
}

.eux-portal .eux-ModuleNavbar .navbar-nav .nav-link span {
  color: var(--ColorTwo);
  display: block;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
}

.eux-portal .eux-ModuleNavbar .nav-item.active .nav-link {
  background: var(--ColorThree) !important;
}

.eux-portal .eux-ModuleNavbar .nav-item:not(.active) .nav-link {
  border: solid 1px transparent;
}

.eux-portal .eux-ModuleNavbar .nav-item:not(.active) .nav-link:hover {
  background: rgba(0, 0, 0, 0.1);
}

.eux-portal .eux-ModuleNavbar .nav-link {
  font-size: 9px;
  line-height: 14px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
}

.eux-portal .eux-ModuleNavbar .nav-link i {
  font-size: 30px;
  width: 100%;
}

.eux-portal .eux-ModuleNavbar .nav-link span {
  display: block;
  line-height: 12px;
}

.eux-portal .eux-ModuleNavbar .nav-link span + span {
  padding-top: 3px;
}

.eux-portal .eux-ModuleNavbar {
  -webkit-overflow-scrolling: touch;
  background: var(--ColorOne);
  display: grid;
  grid-template-rows: 48px 90px calc(100vh - 130px);
  height: 100%;
  z-index: 0;
}

.eux-portal .eux-RightSiteLinks .dropdown-toggle::after {
  display: none;
}

.eux-portal .eux-RightSiteLinks .dropdown-toggle::after {
  margin-left: 34%;
  position: absolute;
  top: 5px;
  transform: rotate(-180deg);
}

.eux-portal .eux-RightSiteLinks .dropdown-toggle:hover::after {
  display: inline;
}

.eux-portal .eux-RightSiteLinks {
  padding-bottom: 35px;
  padding-top: 35px;
}

.eux-portal .eux-wrapper {
  background: #FFF;
  display: grid;
  height: 100%;
  z-index: 1;
}

.eux-portal {
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
  overflow: hidden;
}

.eux-PortalLogo .eux-editor {
  display: inline-block;
  position: relative;
}

.eux-PortalLogo .navbar-brand img {
  background: white;
  padding: 3px;
  width: 55px;
}

.eux-PortalLogo .navbar-brand img {
  border-radius: 50%;
  overflow: hidden;
}

.eux-PortalLogo a {
  align-content: center;
  align-self: center;
  display: grid;
  left: -3px;
  margin: auto;
  overflow: hidden;
  padding: 10px 5px;
  position: relative;
  width: 60px;
}
.eux-Paper {
  background: white;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.eux-Paper .eux-CuddlerHeading {
  padding: 0;
}

.eux-Paper .eux-Heading2 {
  padding: 0;
}

.eux-Paper-border {
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.eux-Paper-height {
  height: 100%;
  min-height: 792px;
}

.eux-Paper-margin {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 36px;
  padding-bottom: 2px;
}

.eux-Paper-margin-Preview {
  border: dashed #ccc 1px;
}

/*.eux-Paper-spacing { margin: 10px auto 50px auto; }*/

.eux-Paper .eux-hidden-tools {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  left: 10px;
  padding: 3px;
  /*display: none;*/
  position: absolute;
  top: 5px;
}

/*.eux-Paper:hover .eux-hidden-tools { display: block; }*/

/*.eux-Paper .eux-PopupEditor { visibility: hidden; }
.eux-Paper:hover .eux-PopupEditor { visibility: visible; }
.eux-Paper .eux-PopupButton { visibility: hidden; }
.eux-Paper:hover .eux-PopupButton { visibility: visible; }*/

/*.eux-Paper:hover #Description { border-color: #007ACC; }*/

@media only screen and (max-width: 812px) {
  .eux-Paper-margin {
    border-color: transparent;
    margin: 0;
  }
}

.pdf-page.eux-Paper-border {
  border: none;
}

.pdf-page.eux-Paper-border .eux-Paper-margin {
  margin: 0;
}

/*.eux-Paper .eux-paper-section + .eux-paper-section { margin-top: 2rem; }*/

/*.eux-Paper ul { padding-left: 1.5rem; }
.eux-Paper ul.eux-nolist { padding-left: 0; }
.eux-Paper ol { counter-reset: item; padding-left: 1rem; padding-left: 0; }
.eux-Paper ol li { display: block; }
.eux-Paper ol li + li { margin-top: 0.5em; }
.eux-Paper li span + ol { margin-bottom: 0.5em; margin-top: 0.25em; padding-left: 0.8em; }
.eux-Paper ol li ol li + li { margin-top: 0; }
.eux-Paper ol li:before { content: counters(item, ".") ". "; counter-increment: item; }
.eux-Paper ol li ol li:before { display: inline-block; min-width: 20px; }
.eux-Paper ol li ol li ol li:before { display: inline-block; min-width: 30px; }*/
.eux-PaperHeader .eux-w-Medium {
  border-bottom: solid 2px #eee;
  color: #ccc;
}

.eux-PopupEditor.medium .btn.btn-icon {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-size: 38px;
  height: 60px;
  width: 60px;
}

.eux-PopupEditor.large .btn.btn-icon {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-size: 68px;
  height: 112px;
  width: 112px;
}

.eux-PopupEditor.btn-pill .btn.btn-icon {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.eux-PopupEditor.btn-pill .btn.btn-icon:hover {
  background: var(--ColorThree);
  border-color: var(--ColorThree);
  color: var(--ColorFour);
}

.eux-PopupEditor .btn-icon .eux-btn-content > span:last-child {
  display: none;
}

.eux-PopupEditor .eux-icon-Edit.btn.btn-icon .fa-pencil {
  font-size: 14px;
}

.eux-PopupEditor .btn.btn-icon .fas {
  color: white;
  font-size: 14px;
}

.eux-PopupEditor .btn.btn-icon:hover .fas {
  color: white;
}

.eux-PopupEditor .btn.btn-icon:hover {
  background: var(--ColorThree);
  border-color: var(--ColorThree);
  color: var(--ColorFour);
}

.eux-PopupEditor .btn.btn-icon {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  display: inline-flex;
  flex-direction: row;
  font-size: 18px;
  padding: 0 5px;
  text-align: center;
}

.eux-PopupEditor .btn.btn-icon.btn-icon-success {
  color: #28a745;
}

.eux-PopupEditor .btn.btn-icon.btn-icon-warning {
  border-radius: 50px;
  color: lightgray;
  display: inline-block;
  width: 30px;
}

.eux-PopupEditor .btn.btn-icon.btn-icon-warning:hover {
  color: #E0A800;
}

.eux-PopupEditor .btn.btn-icon.btn-icon-danger {
  border-radius: 30px;
  color: #d3d3d3;
  display: inline-block;
  text-align: center;
  width: 30px;
}

.eux-PopupEditor .btn.btn-icon.btn-icon-danger:hover {
  color: #721c24;
}

.eux-PopupEditor.w-150px .btn {
  display: block;
}

.eux-PopupEditor.w-100px .btn {
  display: block;
}

.eux-PopupEditor.w-200px .btn {
  display: block;
}

.eux-PopupEditor .btn-light {
  background-color: #eaf0f6;
  border-color: #cbd6e2;
  color: #506e91;
  font-size: 12px;
}
.eux-portal {
  grid-template-columns: 63px 1fr;
}

.eux-portal .eux-wrapper {
  grid-template-columns: 180px 1fr;
}
.d-flex-gap-1 > * {
  margin-right: 5px;
}

.d-flex-gap-1 > .eux-SectionCard {
  margin-bottom: 5px;
  margin-right: 5px;
}

.d-flex-gap-2 > * {
  margin-right: 10px;
}

.d-flex-gap-2 > .eux-SectionCard {
  margin-bottom: 10px;
  margin-right: 10px;
}

.d-flex-gap-3 > * {
  margin-right: 15px;
}

.d-flex-gap-3 > .eux-SectionCard {
  margin-bottom: 15px;
  margin-right: 15px;
}

.d-flex-gap-4 > * {
  margin-right: 20px;
}

.d-flex-gap-4 > .eux-SectionCard {
  margin-bottom: 20px;
  margin-right: 20px;
}

.eux-SectionCard .d-flex-justify-between {
  width: 100%;
}

.eux-SectionCard .eux-Icon {
  margin-right: 5px;
}

.eux-SectionCard.b-0 .card {
  border: 0;
}

.eux-SectionCard.eux-Mini {
  width: 280px;
}

.eux-SectionCard.eux-Small {
  width: 429px;
}

.eux-SectionCard.eux-Grow {
  flex-grow: 1;
}

.eux-SectionCard.eux-Medium {
  width: 655px;
}

.eux-SectionCard.eux-Paper {
  width: 812px;
}

.eux-SectionCard.eux-Large {
  width: 880px;
}

.eux-SectionCard.eux-Full {
  margin: auto;
  width: 1360px;
}

.eux-SectionCard > .card {
  border-radius: 2px;
  padding: 20px;
}

@keyframes euxSectionCard {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-o-keyframes euxSectionCard {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-moz-keyframes euxSectionCard {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

@-webkit-keyframes euxSectionCard {
  0% {
    background-color: #EEEEEE;
  }

  50% {
    background-color: #F5F8FA;
  }

  100% {
    background-color: #EEEEEE;
  }
}

.eux-SectionCard .eux-loader-background-flicker {
  -moz-animation: euxSectionCard 3s infinite;
  -o-animation: euxSectionCard 3s infinite;
  -webkit-animation: euxSectionCard 3s infinite;
  animation: euxSectionCard 3s infinite;
}

.eux-SectionCard .eux-loader-background {
  background-color: #EEEEEE;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.eux-SectionCard .eux-card-title {
  align-items: center;
  display: flex;
  height: 49px;
}

.eux-SectionCard .eux-card-title .eux-ActionMenu .kagVYw {
  left: 61px;
  top: 28px;
}

.eux-SectionCard .card .eux-loader-wrapper > * {
  margin-bottom: 1em;
}
.eux-SectionCardToolbar {
  background: var(--ColorFive);
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 5px 4px;
}

.eux-SectionCardToolbar + .eux-Paper {
  margin-top: 3px;
}

.eux-SectionCardToolbar > div {
  display: flex;
}

.eux-SectionCardToolbar > div > * {
  margin: 0 5px;
}

.eux-SectionCardToolbar .btn {
  font-size: 12px;
  padding: 6px;
}
.eux-SubmitButton .eux-submit-btn {
  min-width: 100px;
}

.eux-SubmitButton .eux-message {
  font-size: 12px;
  font-weight: normal;
}

.eux-SubmitButton .eux-message.success {
  color: darkgreen;
  margin-top: 8px;
}

.eux-SubmitButton .eux-message.error,
.eux-SubmitButton .eux-error {
  color: #d9534f;
  font-weight: normal;
  margin-top: 8px;
}

.eux-SubmitButton .eux-Divider {
  margin: 13px 0px 13px 0px;
}
.eux-ShortcutButton {
  border-radius: 10px;
  cursor: pointer;
  display: block;
  display: grid;
  height: 132px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 140px;
}

.eux-ShortcutButton .eux-pod {
  color: inherit;
  text-decoration: none;
}

.eux-ShortcutButton:hover {
  background: var(--ColorFive);
}

.eux-ShortcutButton .eux-circle {
  align-content: center;
  border: solid 3px var(--ColorOne);
  border-radius: 50%;
  display: grid;
  font-size: 35px;
  height: 70px;
  margin: auto;
  width: 70px;
}

.eux-ShortcutButton.eux-ShortcutButtonSize-Small {
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  height: 80px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 120px;
}

.eux-ShortcutButton.eux-ShortcutButtonSize-Small .eux-circle {
  align-content: center;
  border: solid 2px var(--ColorOne);
  border-radius: 50%;
  display: grid;
  font-size: 20px;
  height: 40px;
  margin: auto;
  width: 40px;
}

.eux-ShortcutButton .eux-text {
  font-size: 13px;
  left: 0;
  margin-top: 3px;
  padding: 0 10px;
  position: absolute;
  width: 100%;
}
.eux-Today .k-textbox-container {
  width: 120px;
}

.eux-Today .eux-TodayDatePicker-filter {
  display: flex;
}

.eux-Today .k-daterangepicker {
  background: transparent !important;
  margin-top: 0;
}

.eux-Today .eux-TodayDatePicker .eux-pod {
  background: #F8F9FA;
  border: solid 1px #dde2e7;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

.eux-Today .eux-TodayDatePicker.eux-flush .eux-pod {
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 10px 10px;
}

.eux-Today .eux-TodayDatePicker-pod .btn {
  align-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  text-align: center;
}

.eux-Today .eux-TodayDatePicker-pod .eux-btn-nextprev {
  width: 35px;
}

.eux-Today .eux-TodayDatePicker-pod .eux-TodayDatePicker-lbl {
  display: none;
  font-size: 18px;
}

.eux-Today .eux-TodayDatePicker-pod {
  display: flex;
}

.eux-Today .eux-TodayDatePicker-pod > * {
  align-content: center;
  display: grid;
  margin: 0;
}

.eux-Today .eux-TodayDatePicker-pod > div:first-child {
  display: flex;
  margin-right: 10px;
}

.eux-Today .eux-TodayDatePicker-pod > div:last-child {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 35px auto 35px;
}

.eux-Today .eux-TodayDatePicker-clear {
  display: inline-grid;
  flex-direction: column;
  padding: 10px;
  position: relative;
}

.eux-Today .eux-quickdates {
  align-content: end;
  display: grid;
  font-size: 25px;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  margin: 0px 10px 3px 10px;
}

.eux-Today .eux-quickdates i {
  cursor: pointer;
}
.eux-ToggleWidget > label {
  margin-bottom: 5px;
}
.eux-ToggleCookie .eux-ToggleWidget {
  align-items: center;
  display: flex;
}

.eux-ToggleCookie .eux-ToggleWidget .k-switch {
  margin: auto;
}