@using global::Cuddler.Pages.Shared.Cuddler.CuddlerInformation
@model CuddlerWarningTagHelper
@{
    if (Model.Data.DateArchived == null)
    {
        return;
    }
}
@if (Model.Data.DateArchived != null)
{
    <div class="eux-CuddlerArchiveWarning">
        <cuddler-information type="Warning">
            <div class="text-center">
                <div>
                    <div>
                        Item has been deleted.
                    </div>
                </div>
            </div>
        </cuddler-information>
    </div>
}