@model CuddlerDev.Pages.Shared.Cuddler.PaperToolbar.PaperToolbarTagHelper
<div class="eux-PaperToolbar">
    @if (Model.Justify)
    {
        <div class="d-flex d-flex-justify-between">
            @Html.Raw(Model.Html)
        </div>
    }
    else
    {

        <div class="d-flex d-flex-gap-1">
            @Html.Raw(Model.Html)
        </div>
    }
</div>