@using global::Cuddler.Web.Helpers
@using global::Cuddler.Web.Utils
@model IconTagHelper
@{
    var cssClass = EFontAwesomeIconHelper.ToString(Model.Type);
    var cssSize = FontAwesomeUtil.ToString(Model.Size);
}
<span class="eux-Icon">
    <i class="@cssClass @cssSize"></i>
</span>