@using global::Cuddler.Helpers
@model IconTagHelper
@{
    var cssClass = EFontAwesomeIconHelper.ToString(Model.Type);
    var cssSize = EFontAwesomeSizeHelper.ToString(Model.Size);
}
<span class="eux-Icon">
    <i class="@cssClass @cssSize"></i>
</span>