@model CuddlerDev.Pages.Shared.Cuddler.CuddlerAutosaveButton.CuddlerAutosaveButtonTagHelper
<div class="eux-AutosaveButton mt-2">
    <input class="btn btn-dark eux-w-200"
           disabled
           type="button"
           value="Auto saved" />
</div>